@{
    ViewBag.Title = "Number Sequence Calculator - About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Author: Clive Lancaster</p>
<p>Version: @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version</p>
<address>
    <abbr title="Phone">P:</abbr>
    0401089305
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:clivelancaster@hotmail.com">clivelancaster@hotmail.com</a>
</address>