@{
    ViewBag.Title = "Number Sequence Calculator - Home Page";
}

<div class="jumbotron">
    <h1>Number Sequence Calculator</h1>
    <p class="lead">
        Welcome to the Number Sequence Calculator web application.
        <br />Please proceed to the calculator page where you will be able to calculate number sequences.
    </p>
    <p><a href="~/Home/Calculate" class="btn btn-primary btn-large">Calculator &raquo;</a></p>
    <img src="~/Content/images/Fibonacci-Squares-Golden-Spiral.jpg" class="img-responsive" alt="Fibonacci" />

</div>